{% extends "schedule/_layouts/settings" %}

{% set fullPageFomr = true %}
{% set settings = craft.schedule.settings %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ "Slack Settings"|t('schedule') }}</h2>

    <form method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="schedule/settings/save-slack">
        {{ csrfInput() }}

        {{ forms.autoSuggestField({
            label: "API Token"|t('schedule'),
            id: "slackApiToken",
            name: "slackApiToken",
            value: settings.slackApiToken,
            errors: settings.getErrors('slackApiToken'),
            instructions: 'A Bot token with the scope `chat:write` enabled'|t('schedule'),
            suggestEnvVars: true,
        }) }}

        <button class="btn submit">{{ "Save"|t('app') }}</button>
    </form>
{% endblock %}