{% if log %}
    {% if log.output ?? false %}
        <p>{{ 'The output was :'|t('schedule') }}</p>
        <pre>{{ log.output }}</pre>
    {% else %}
        <p>{{ "There was no output given"|t('schedule') }}</p>
    {% endif %}
{% else %}
    <p>{{ "There was no output as the schedule doesn't have logs enabled"|t('schedule') }}</p>
{% endif %}